{% if EDUCATIONS %}
<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
{% for education in EDUCATIONS %}
    <div class="item">
	    <h4 class="degree">{{ education['name'] }}</h4>
	    <h5 class="meta">&ndash; {{ education['field'] }}</h5>
	    <h5 class="meta">&ndash; {{ education['degree'] }}</h5>
	    <div class="time">&ndash; {{ education['time'] }}</div>
	</div><!--//item-->
{% endfor %}
</div><!--//education-container-->
{% endif %}
