<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
 
<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <h1 class="name">{{NAME}}</h1>
        <h3 class="tagline">{{TAGLINE}}</h3>
    </div><!--//profile-container-->
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
           
           {% if EMAIL %}
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{EMAIL}}">{{EMAIL}}</a></li>
            {% endif %}
            
            {% if PHONE %}
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{PHONE}}">{{PHONE}}</a></li>
            {% endif %}
            
            {% if WEBSITE %}
            <li class="website"><i class="fa fa-globe"></i><a href="http://{{WEBSITE}}" target="_blank">{{WEBSITE}}</a></li>
            {% endif %}
            
            {% if LINKEDIN %} <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{LINKEDIN}}" target="_blank">Linkedin</a></li>
            {% endif %}

            {% if GITLAB %}
            <li class="github">
                <img class="gitlab-img" style="width:15px;height:18px;"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/gitlab.svg" alt="profile picture"/>
                <a href="https://gitlab.com/{{GITLAB}}" target="_blank">gitlab.com/{{GITLAB}}</a>
            </li>
            {% endif %}

            {% if GITHUB %}
            <li class="github"><i class="fa fa-github"></i><a href="https://github.com/{{GITHUB}}" target="_blank">github.com/{{GITHUB}}</a></li>
            {% endif %}
            
            {% if TWITTER %}
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{TWITTER}}" target="_blank">{{TWITTER}}</a></li>
            {% endif %}
            
        </ul>
    </div><!--//contact-container-->
   {% include 'includes/education.html' %}
   {% include 'includes/language.html' %}
   {% include 'includes/interests.html' %}
    
</div><!--//sidebar-wrapper-->
