{% if SKILLS %}
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <h5>This view is only relative</h5>
    <div class="skillset">        
        {% for skill in SKILLS %}
            <div class="item">
                <h3 class="level-title">{{ skill['title' ]}}</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="{{ skill['level'] }}%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->
        {% endfor %}
    </div>  
</section><!--//skills-section-->
{% endif%}