<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />


    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
    {% endif %}

    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
    {% endif %}

    
    <!-- {% if FAVICON %} -->
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/profile.png" type="image/x-icon">
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/profile.png" type="image/x-icon">
    <!-- {% endif %} -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="{{ ROBOTS }}" />

    {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% endif %}

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% endblock %}
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

</head>

<body id="index" class="home">
    {% include 'github.html' %}
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="text-center">
            <p>
                Blog powered by <a href="https://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="https://python.org">Python</a>.
                Theme <a href="https://github.com/suheb/resume/tree/ee7dcf1239a3554490f047ee36430d1a799a0882">Resume</a> by <a href="https://github.com/suheb">@suheb</a>.
            </p>
        </div><!--//container-->
    </footer><!--//footer-->
    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
</body>
</html>
